.container{
    background-color: rgb(98, 156, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.box{
    background-color: rgb(132, 132, 74);
    width: 400px;
    height: 500px;
    text-align: center;

}
.inp{
    padding: 12px;
    font-size: 18px;
}
.btn{
    padding: 12px;
}